<!doctype html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Crear Persona</title>
</head>
<body>
    <!-- En esta parte de la pantalla se mostraran los mensajes marcados en PersonaController -->
    <div>
        <!-- usamos FOR, LABEL el nombre de la llave, MESSAGES el nombre del valor en el arreglo y APP.FLASHES me devuelve los mensajes que tengo  -->
        {% for label, messages in app.flashes %}
            {% for message in messages %}
                {{ label }} {{ message }}
            {% endfor %}
        {% endfor %}
    </div>
    <h1>Bienvenido al Módulo de Administracion de Personas</h1>
    <p>Por favor registre los datos de la persona</p>

    {{ form_start(personaForm) }}
        {{ form_label(personaForm.nombres) }}
        {{ form_errors(personaForm.nombres) }}
        {{ form_widget(personaForm.nombres) }}

        {{ form_row(personaForm.nombres) }}
        {{ form_row(personaForm.primerApellido) }}
        {{ form_row(personaForm.segundoApellido) }}
        {{ form_row(personaForm.documentoIdentidad) }}
        {{ form_row(personaForm.expedido) }}
        {{ form_row(personaForm.fechaNacimiento) }}
        {{ form_row(personaForm.genero) }}
        {{ form_row(personaForm.correo) }}
        {{ form_row(personaForm.telefono) }}
        {{ form_row(personaForm.gradoAcademico) }}
        {{ form_row(personaForm.domicilio) }}
        {{ form_row(personaForm.departamento) }}
        {{ form_row(personaForm.centro) }}
        {{ form_row(personaForm.enviar) }}
    {{ form_end(personaForm) }}

</body>
</html>